{% extends "_layout.jinja" %} {% block title %}{{ movie.title }}{% endblock %} {% block content %}
{% from "components/_movie_stat.jinja" import render_movie_stat %}
{% from "components/_log_icons.jinja" import render_log_icons, icon_watch, icon_like %}
<div class="flex gap-4">
  <div class="space-y-4">
    <img src="/uploads/{{ movie.poster_file }}" alt="{{ movie.title }}"
         class="aspect-2/3 h-80 object-cover rounded-md">
    {% if current_user.is_authenticated %}
    <a href="/movie/{{ movie.slug }}/log"
       class="bg-slate-500 text-white p-2 inline-block w-full text-center">
      Журналировать!
    </a>
    {% endif %}
    <div class="flex gap-4 justify-center">
      <div class="flex items-center gap-2">
        {{ icon_watch() }}
        {{ watches }}
      </div>
      <div class="flex items-center gap-2">
        {{ icon_like() }}
        {{ likes }}
      </div>
    </div>
  </div>
  <div class="grow space-y-4">
    <h1>
      <span class="font-bold text-2xl">{{ movie.title }}</span>
      <span class="font-light text-xl">{{ format_year(movie.release_date) }}</span>
    </h1>
    {% if current_user.is_admin %}
    <a href="/admin/movie-edit/{{ movie.slug }}" class="bg-slate-500 text-white p-2 inline-block">
      Редактировать фильм
    </a>
    {% endif %}
    <p>{{ movie.description }}</p>
    <div class="grid grid-cols-2 w-full">
      <div class="flex">
        <div class="font-light">Дата выхода</div>
        <div class="grow border-b mb-1 border-dotted"></div>
      </div>
      <div>{{ format_date(movie.release_date) }}</div>
      {{ render_movie_stat(movie.genres, "Жанры", "genre") }}
      {{ render_movie_stat(movie.studios, "Студии", "studio") }}
      {{ render_movie_stat(movie.staff, "Персоналии", "staff") }}
    </div>
    <h2 class="text-xl font-bold mb-4">Отзывы</h2>
    <ul class="space-y-4">
      {% for review in reviews %}
      <li>
        <div>
          <a href="/profile/{{ review.user_id }}"
             class="hover:text-slate-500 underline">{{ review.user.username }}</a>
          <em>{{ format_date(review.created_at) }}</em>
        </div>
        {{ render_log_icons(review) }}
        <p>{{ review.review }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}