{% extends "admin/_layout.jinja" %} {% block title %}{{ title }}{% endblock %}
{% block content_admin %}
{% from "_formhelpers.jinja" import render_field %}
<h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
<form method="post" class="flex gap-4 items-end mb-4" action="{{ create_url }}">
  {{ render_field(form.name, div_class="flex flex-col gap-2 grow") }}
  <button type="submit" class="bg-slate-500 text-white p-2">{{ create_label }}</button>
</form>
<ul>
  {% for record in records %}
  <li>
    <a href="{{ edit_url }}/{{ record.id }}" class="hover:text-slate-500">
      {{ record.name }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}