{% macro render_field(field) %}
<div class="{{ kwargs['div_class'] or 'flex flex-col gap-2' }}">
  {{ field.label }}
  {{ field(class="border p-2",**kwargs)|safe }}
  {% if field.errors %}
  <ul class="text-red-500">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %}