{% extends "_layout.jinja" %} {% block title %}Регистрация{% endblock %} {% block
content %}
<h1 class="text-2xl font-bold mb-4">Регистрация</h1>
{% from "_formhelpers.jinja" import render_field %}
<form method="post" class="space-y-4">
  <dl class="space-y-4">
    {{ render_field(form.username) }} {{ render_field(form.email) }} {{
    render_field(form.password, type="password") }} {{
    render_field(form.password_confirm, type="password") }}
  </dl>
  {% if message %}
  <p class="text-red-500">{{message}}</p>
  {% endif %}
  <button type="submit" class="bg-slate-500 text-white p-2">
    Зарегистрироваться
  </button>
</form>
{% endblock %}