{% macro icon_watch() %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
     stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-eye">
  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
  <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
  <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
</svg>
{% endmacro %}

{% macro icon_like() %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
     class="icon icon-tabler icons-tabler-outline icon-tabler-heart">
  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
  <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
</svg>
{% endmacro %}

{% macro icon_watchlist() %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
     class="icon icon-tabler icons-tabler-outline icon-tabler-clock">
  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
  <path d="M12 7v5l3 3" />
</svg>
{% endmacro %}

{% macro render_log_icons(log) %}
<div class="flex gap-4">
  {% if log.watched %}
  <div class="flex items-center gap-2">
    {{ icon_watch() }}
    Просмотрено
  </div>
  {% endif %}
  {% if log.liked %}
  <div class="flex items-center gap-2">
    {{ icon_like() }}
    Понравилось
  </div>
  {% endif %}
  {% if log.watchlist %}
  <div class="flex items-center gap-2">
    {{ icon_watchlist() }}
    Посмотреть позже
  </div>
  {% endif %}
</div>
{% endmacro %}