{% macro render_movie_ul(movies, admin=False) %}
<ul class="grid grid-cols-4 gap-2">
  {% for movie in movies %}
  <li class=" text-center">
    <a href="{{ "/admin/movie-edit" if admin else "/movie" }}/{{ movie.slug }}"
       class="hover:text-slate-500">
      <img src="{{ movie.poster_file }}" alt="{{ movie.title }}"
           class="aspect-2/3 w-full object-cover rounded-md">
      <div>
        <span class="font-bold">{{ movie.title }}</span>
        <span class="font-light">{{ format_year(movie.release_date) }}</span>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endmacro %}